{% extends 'base.html.twig' %}

{% block title %}New Photo{% endblock %}

{% block body %}

    <a class="btn btn-success" href="{{ path('photo_index') }}">Back to list</a>

    {{ include('photo/_form.html.twig') }}

{% endblock %}
